 #editor {
     height: 500px;
     width: 100%;
     display: inline-block;
 }

 #code {
     display: none;
 }

 .heading {
     font-family: Montserrat;
 }

 .dark {
     background-color: #505050;
     color: #fafafa;
 }

 .light {
     background-color: #fafafa;
     color: #505050;
 }

 .dark #results a {
     color: #ced4da;
 }

 #theme-area {
     margin: 0;
     height: 100vh;
     padding: 20px;
 }