 #editor {
     height: 500px;
     width: 100%;
     display: inline-block;
 }

 #code {
     display: none;
 }

 .heading {
     font-family: Montserrat;
 }

 .dark {
     background-color: grey;
     color: white;
 }

 .light {
     background-color: white;
     color: #333;
 }

 #theme-area {
     margin-top: 10px;
     height: calc(100vh - 117px);
     padding: 20px;
 }